numpy
scipy
pandas
numexpr
bottleneck
h5py
pyyaml
matplotlib
astropy
numba
tabulate
docstring-inheritance>=2.0
pytest
pytest-cov>=4.1.0
black
flake8
tables
doc8
flake8-docstrings
pydocstyle
numpydoc
sphinx
sphinx_rtd_theme
sphinxcontrib-spelling
sphinxcontrib-bibtex
gh
psutil>=5.9.0
